 <aside class="medium-3 large-2 columns hide-for-small-only" id="left-menu">
   <h4 style="margin-left: 1rem;">Новости</h4>
  <ul class="vertical menu">
    <% @top_news.each do |news| %>
      <li><%= link_to news.title, news %></li>
    <% end %>
  </ul>
</aside>